 body{
    background-color: #000000;
    height: 100%;
  }  

 .btn{
    margin-top: 10%;
    width: 180px;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: white;
    background-color: black;

 }